.Points {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    
    &__list {
        margin: 0px;
        padding: 0px;
        height: 250px;
        overflow-y: auto;
    }

    &__Input {
        display: flex;
        flex-direction: row;
        width: 300px;

        div {
            flex: 1;
            display: flex;
            flex-direction: column;
            
            & + div {
                margin-left: 16px;
            }
        }
        
        label {
            margin-bottom: 8px;
        }

        input {
            width: 100%;
        }

        button {
            margin-left: 16px;
            background: none;
            border: 1px solid #bbb;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: self-end;
            height: 30px;
            cursor: pointer;
            
            &:hover {
                background-color: #ddd;
            }
        }
    }
    
    &__Input + &__Input {
        margin-top: 12px;
    }

    &__CreateNewPoint {
        margin-top: 12px;
    }
}