.Points {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    &__Input {
        display: flex;
        flex-direction: row;
        width: 300px;

        div {
            flex: 1;
            display: flex;
            flex-direction: column;
            
            & + div {
                margin-left: 16px;
            }
        }
        
        label {
            margin-bottom: 8px;
        }

        input {
            width: 100%;
        }

        button {
            margin-left: 16px;
        }
    }
    
    &__Input + &__Input {
        margin-top: 12px;
    }

    &__CreateNewPoint {
        margin-top: 12px;
    }
}